extends base
block title
  title= page.title + ' - ' + config.title
block content
  .post
    .post-content
      != page.content
    div.tagss
      != tagcloud({min_font: 18, max_font: 28, amount: 80})
      br
    div.tagss
      != list_categories({depth: 1, show_count: false, style: list})
      != ',' + list_archives({depth: 1, show_count: false, style: list})
  if page.comments
    include _partial/comments